<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="ConnectionProvider" type="Tie.ConnectionConfigSection, Tie.Core" />
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Tie;Data Source=(local)\sqlexpress" providerName="System.Data.SqlClient" />  
  </connectionStrings>
  <ConnectionProvider default="Cn">
    <providers>
      <add name="Cn" type="Tie.Data.SqlDatabase, Tie.Core" connectionStringName="ConnectionString" />
    </providers>
  </ConnectionProvider>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
</configuration>